name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go 1.15
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: checkout
      uses: actions/checkout@v2
    
    - name: Test
      run: go test -v -tags=integration ./...
      env:
        CHECKLY_API_KEY: ${{ secrets.CHECKLY_API_KEY }}
        CHECKLY_API_URL: ${{ secrets.CHECKLY_API_URL }}